<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Velkommen til KomStek!</h1>
    <p>På denne siden finner du blant annet en oversikt over alle undergruppene i KomStek. For å få en oversikt naviger til Gobi.</p>
    <p><a href="#" class="btn btn-primary btn-lg" role="button">Les mer &raquo;</a></p>
  </div>
  <div class="Page header">
    <h2>% Siving </h2>
  </div>
  <h2 id="test">Tomt</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress123"><span class="sr-only">60% Complete</span></div>
  </div>
</div>